.container
  .page-header
    .row
      .col-md-10
        %h1= "All Events for #{@convention.title}"
      .col-md-2.h1-padding
        %a.btn.btn-primary#new_event_button.btn-block{href: new_convention_event_path(@convention)}
          New Event

  .row-fluid
    %table.table.table-striped
      %tr
        %th Timetable Name
        %th Day
        %th Track
        %th Room
      - @events.each do |e|
        %tr.item
          %td
            %a{href: event_path(e)}
              = e.timetable_name
          %td= e.day ? e.day_name : 'NO DAY CURRENTLY ASSIGNED'
          %td= e.track ? e.track_name : 'NO TRACK CURRENTLY ASSIGNED'
          %td= e.room ? e.room_name : 'NO ROOM CURRENTLY ASSIGNED'
