= form_for([convention, day], html: {class: 'form-horizontal'}) do |f|
  - if day.errors.any?
    #error_explanation.alert.flash-alert
      .h4
        = pluralize(day.errors.count, "error")
        prohibited this day from being saved:
      %ul
        - day.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label :date, 'Date', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.date_field :date, value: (f.object.date || Time.zone.now.to_date), class: 'form-control'
  .form-group
    = f.label :name, 'Name', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :public, 'Public/Private', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.select :public, [['Public', true], ['Private', false]], class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary disable_on_click'
