.container
  .page-header
    .row
      .col-md-10
        %h1= "Details for #{@convention.title}"

  .row-fluid
    %table.table.table-striped
      %tr
        %th Convention Email
        %th Timeslot Duration
      %tr
        %td= @convention.convention_email
        %td #{@convention.timeslot_duration} minutes
  .row
    .col-md-10
      %h2 Days
    .col-md-2.h1-padding
      %a.btn.btn-primary#new_day_button.btn-block{href: new_convention_day_path(@convention)}
        New Day
  .row-fluid
    %table.table.table-striped
      %tr
        %th Date
        %th Name
        %th Public?
        %th
      - @convention.days.each do |d|
        %tr.item.day
          %td= d.date
          %td= d.name.titleize
          %td= d.public.to_s.titleize
          %td
            %a{href: edit_day_path(d)}Edit
            |
            %span{id: "delete_day_#{d.id}"}
              = link_to 'Delete', d, data: { confirm: 'Are you sure you want to delete this day?' }, method: :delete
  .row
    .col-md-10
      %h2 Tracks
    .col-md-2.h1-padding
      %a.btn.btn-primary#new_track_button.btn-block{href: new_convention_track_path(@convention)}
        New Track
  .row-fluid
    %table.table.table-striped
      %tr
        %th Name
        %th Rank
        %th
      - @convention.tracks.each do |t|
        %tr.item.track
          %td= t.name.titleize
          %td= t.rank
          %td
            %a{href: edit_track_path(t)}Edit
            |
            %span{id: "delete_track_#{t.id}"}
              = link_to 'Delete', t, data: { confirm: 'Are you sure you want to delete this track?' }, method: :delete
