!!!
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'Type=text/html;charset=utf8'}
    %meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge'}
    = csrf_meta_tags
    %title Hamper
    != stylesheet_link_tag "application", media: "screen"
    != javascript_include_tag "application"

  %body
    #navbar.navbar.navbar-default
      .container-fluid
        .navbar-header
          %a.navbar-brand{href: "/"}
            Hamper
        - if current_user
          %ul.nav.navbar-nav
            %li.navbar-block
              %a.navbar-block-link{href: '/users'}
                Users

        - if current_user
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{href: "#"}= current_user.name
            %li
              = link_to "Logout", :logout, method: :post
        - else
          %ul.nav.navbar-nav.navbar-right
            %li.navbar-block
              = link_to "Register", new_user_path
            %li.navbar-block
              = link_to "Login", :login

    - flash.each do |name, msg|
      .container
        %div{class: "alert flash-#{name}"}
          %button.close{'data-dismiss' => 'alert'}
            &times;
          =msg

    = yield
